nav  ul{
    list-style: none;
    padding: 20px;

}

ul li a{
    border-color: cadetblue, ;
    border-style: dashed;
    border-width: 1px;
}
nav ul li{
    float: left;
    padding-bottom: 5px;
    margin: 5px;
}

nav ul li a.active_menu_link {
    background-color: red;
    border-width: 0px;
}