<!DOCTYPE html>
<html>
<head>
    <title></title>
    {% load staticfiles %}

    <link href="{% static 'gallery/css/style.css' %}" rel=stylesheet type="text/css">
</head>
<body>
    <nav>
        <ul>
            {%  ifequal active_menu_link 'home'  %}
                <li><a  class='active_menu_link' href='/'>Home</a></li>
            {% else %}
                <li><a href='/'>Home</a></li>
            {%  endifequal %}

            {% ifequal active_menu_link 'galleries' %}
                <li><a  class='active_menu_link' href='/galleries'>Galleries</a></li>
            {% else %}
                <li><a href='/galleries'>Galleries</a></li>
            {% endifequal %}

            {% ifequal active_menu_link 'about' %}
                <li><a  class='active_menu_link' href='/about'>About</a></li>
            {% else %}
                <li><a href='/about'>About</a></li>
            {% endifequal %}

            {% ifequal active_menu_link 'contact' %}
            <li><a  class='active_menu_link' href='/contact'>Contact</a></li>
            {% else %}
            <li><a href='/contact'>Contact</a></li>
            {% endifequal %}

            {% if admin %}
                <li><a href='/upload_form'>Upload</a></li>
            {% endif %}

        </ul>
    </nav>

</body>
</html>