<!DOCTYPE html>
<html>
<head>
    <title>galleries in {{ category }}</title>
</head>
<body>
    {% include 'includes/nav.html' %}
    {% for gallery in galleries %}
        <li><a href='{{ category }}/{{ gallery }}'> {{ gallery }} </a></li>
    {% endfor %}
</body>
</html>