<!DOCTYPE html>
<html>
<head>
    <title>photos in {{ gallery }}</title>
</head>
<body>
    {% include 'includes/nav.html' %}

    {% for photo in photos %}
        {{ photo.name }}
    {% endfor %}
</body>
</html>