<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    {% include 'includes/nav.html' %}
    <ul>
    {% for category in categories %}
    <li><a href='/galleries/{{ category }}'> {{ category }} </a></li>
    {% endfor %}
    </ul>
</body>
</html>