<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    {% if form.is_multipart %}
        <form method='POST' enctype=multipart/form-data name="pliki">{% csrf_token %}
            <input type=file multiple name="file"><br>
            {{  form.categories }}<br>
            {{  form.gallery }}<br>
            {{  form.date }}
            <input type="submit" value="Submit">

        </form>
    {%  endif %}
</body>
</html>